@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
     https://lukechannings.com/blog/2021-06-09-does-safari-15-fix-the-vh-bug/ */
  .computed-h-screen {
    height: 100vh;
    height: calc((var(--vh, 1vh) * 100) - env(safe-area-inset-bottom));
  }

  .img-thumbnail {
    @apply p-0.5;
    @apply border border-gray-200;
    @apply rounded-sm;
  }

  .notice {
    @apply mb-3 px-5 py-6;
    @apply bg-gray-200;
    @apply rounded;
    @apply leading-normal;
  }
  .prose .notice > h2:first-child,
  .prose .notice > h1:first-child {
    @apply mt-0;
  }
  .prose .notice > ul:last-child,
  .prose .notice > ul:last-child > li:last-child {
    @apply mb-0;
  }
  /* Overwrite defaults, which we cannot to inline since markdow makes that hard. */
  .prose .notice p:last-child {
    @apply mb-0;
  }
  .prose .notice p:first-child {
    @apply mt-0;
  }

  /* Single class so we can toggle it easily in JS. */
  .menu-active {
    @apply bg-blue-600 text-blue-50 hover:!bg-blue-600;
    @apply cursor-text;
  }
}
