<footer class="pt-4 my-md-5 pt-md-5 border-top text-center">
  <div class="row">
    <div class="col-12 col-md">
      <ul class="nav text-small">
        <li class="nav-item"><a class="nav-link text-muted" href="{{ '/?map=micromap' | relative_url }}">Straßenraumkarte</a></li>
        <li class="nav-item"><a class="nav-link text-muted" href="{{ '/?map=parkingmap' | relative_url }}">Parkraumkarte</a></li>
        <li class="nav-item"><a class="nav-link text-muted" href="{{ '/imprint' | relative_url }}">Kontakt & Impressum</a></li>
        <li class="nav-item"><a class="nav-link text-muted" href="https://github.com/SupaplexOSM/strassenraumkarte-neukoelln">Code auf Github</a></li>
      </ul>
    </div>
  </div>
</footer>
