<style>
  /* Reihenfolge der Classes: .zoom-<Nr> .layer-<Name> .legende-<BlockName> */
  #add-css-class-layer>div,
  .zoom-18 .hide-on-zoom-18,
  .zoom-17 .hide-on-zoom-17 {
    display: none;
  }

  .layer-parkingmap,
  .zoom-15 .layer-parkingmap .legende-stellplatzdichte,
  .zoom-16 .layer-parkingmap .legende-stellplatzdichte,
  .zoom-16 .layer-parkingmap .legende-flaechenverbrauch,
  .zoom-16 .layer-parkingmap .legende-park-stellplatztypen,
  .zoom-17 .layer-parkingmap .legende-park-stellplatztypen,
  .zoom-17 .layer-parkingmap .legende-parkstreifen,
  .zoom-18 .layer-parkingmap .legende-strassenparken,
  .zoom-18 .layer-parkingmap .legende-park-stellplatztypen,
  .zoom-19 .layer-parkingmap .legende-strassenparken,
  .zoom-19 .layer-parkingmap .legende-park-stellplatztypen,
  .zoom-20 .layer-parkingmap .legende-strassenparken,
  .zoom-20 .layer-parkingmap .legende-park-stellplatztypen {
    display: block !important;
  }
</style>

<div id="add-css-class-zoom">
  <div id="add-css-class-layer">

    <h2 class="!mt-6 !mb-5 font-semibold">Legende</h2>

    <div class="legende-stellplatzdichte">
      <div class="mb-3">
        <h3 class="text-md !mt-0 font-semibold !leading-tight">Stellplatzdichte (Nahdistanz)</h3>

        <p class="leading-tight">
          <i>Verhältnis zwischen potentiell verfügbaren Stellplätzen und angemeldeten Kfz innerhalb einer
            Laufdistanz von 350 Metern&nbsp;/ 3 Minuten um einen Ort.</i>
        </p>
        <div class="flex gap-2 mb-2">
          <img src="{{ 'images/legend/density/01.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
          <div class="leading-tight">
            < 0,5</div>
          </div>
          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/density/02.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">0,5 – 0,75</div>
          </div>
          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/density/03.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">0,75 – 0,9</div>
          </div>
          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/density/04.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">0,9 – 1,1</div>
          </div>
          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/density/05.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">1,1 – 1,25</div>
          </div>
          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/density/06.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">> 1,25</div>
          </div>
        </div>
      </div>

      <div class="legende-flaechenverbrauch">
        <div class="mb-3">
          <h3 class="text-md font-semibold !leading-tight">Flächenverbrauch</h3>

          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/land_consumption/traffic_area.png' | relative_url }}" class="h-7 w-12 !m-0"
              alt="" />
            <div class="leading-tight">öffentlicher Straßenraum (inkl. Geh- und Radwege, also die Fläche zwischen den
              Gebäudefassaden bzw. Grundstücksgrenzen)</div>
          </div>
          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/land_consumption/traffic_area_land_consumption.png' | relative_url }}"
              class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">Flächenverbrauch von öffentlichem Straßenraum durch geparkte Kfz</div>
          </div>
        </div>
      </div>

      <div class="legende-parkstreifen">
        <div class="mb-3">
          <h3 class="text-md font-semibold !leading-tight">Parkstreifen / Parken am Fahrbahnrand</h3>

          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/street_parking/capacity.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">Straßenabschnitt mit Parkmöglichkeit am Fahrbahnrand mit mittlerer Anzahl
              verfügbarer Stellplätze</div>
          </div>
        </div>
      </div>

      <div class="legende-park-stellplatztypen">
        <div class="mb-3">
          <h3 class="text-md font-semibold !leading-tight">Park- und Stellplatztypen</h3>

          <div class="flex gap-2 mb-2 hide-on-zoom-17 hide-on-zoom-18">
            <img src="{{ 'images/legend/parking_types/street.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">Straßenparken / Parkstreifen</div>
          </div>
          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/parking_types/surface.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">Park- oder Stellplatz (ebenerdig)</div>
          </div>
          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/parking_types/underground.png' | relative_url }}" class="h-7 w-12 !m-0"
              alt="" />
            <div class="leading-tight">Tiefgarage</div>
          </div>
          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/parking_types/garages.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">Garage / Carport</div>
          </div>
          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/parking_types/multi-storey.png' | relative_url }}" class="h-7 w-12 !m-0"
              alt="" />
            <div class="leading-tight">Parkhaus</div>
          </div>
          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/parking_types/limited.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">
              Parkmöglichkeit mit eingeschränkter Nutzung
              (insbesondere Kunden- und Mitarbeiterparkplätze, nicht für Berechnung der Stellplatzdichte
              berücksichtigt)
            </div>
          </div>
        </div>
      </div>

      <div class="legende-strassenparken">
        <div class="mb-3">
          <h3 class="text-md font-semibold !leading-tight">Straßenparken / Parkstreifen</h3>

          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/street_parking/parallel.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">Längsaufstellung</div>
          </div>
          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/street_parking/diagonal.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">Schrägaufstellung</div>
          </div>
          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/street_parking/perpendicular.png' | relative_url }}" class="h-7 w-12 !m-0"
              alt="" />
            <div class="leading-tight">Senkrechtaufstellung</div>
          </div>
        </div>
      </div>


      <div class="legende-grenzen">
        <div class="mb-3">
          <h3 class="text-md font-semibold !leading-tight">Grenzen</h3>

          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/boundary/ortsteil.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">Ortsteilgrenze Neukölln</div>
          </div>
          <div class="flex gap-2 mb-2">
            <img src="{{ 'images/legend/boundary/lor.png' | relative_url }}" class="h-7 w-12 !m-0" alt="" />
            <div class="leading-tight">LOR-Grenzen / Kieze</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
