<h2 class="fs-5 my-2">Parkraumkarte</h2>
<div class="list-group mb-4">
  <a data-link="parkingmap" href="{{ '/?map=parkingmap' | relative_url }}"
    class="list-group-item list-group-item-action">
    Karte
  </a>
  <a href="{{ '/parkraumkarte/legend' | relative_url }}"
    class="list-group-item list-group-item-action {% if page.menu_highlight == 'legend' %}active{% endif %}"
    {% if page.url == "/" %}data-bs-toggle="modal" data-bs-target="#legendeModal"{% endif %}>
    Legende
  </a>
  <a href="{{ '/posts/2021-03-12-parkraumanalyse' | relative_url }}"
    class="list-group-item list-group-item-action {% if page.menu_highlight == 'blogpost_parkraumkarte' %}active{% endif %}">
    Blogpost
  </a>
  <a href="{{ '/parkraumkarte/report' | relative_url }}"
    class="list-group-item list-group-item-action {% if page.menu_highlight == 'report' %}active{% endif %}">
    Methodenbericht
  </a>
  <a href="{{ '/parkraumkarte/data' | relative_url }}"
    class="list-group-item list-group-item-action {% if page.menu_highlight == 'data' %}active{% endif %}">
    Daten
  </a>
</div>
<h2 class="fs-5 my-2">Straßenraumkarte</h2>
<div class="list-group mb-4">
  <a data-link="micromap" href="{{ '/?map=micromap' | relative_url }}"
    class="list-group-item list-group-item-action">
    Karte
  </a>
  <a href="{{ '/posts/2021-03-01-strassenraumkarte' | relative_url }}"
    class="text-muted list-group-item list-group-item-action {% if page.menu_highlight == 'blogpost_strassenraumkarte' %}active{% endif %}">
    <del>Blogpost</del> <span class="badge bg-secondary">soon</span>
  </a>
</div>

<ul class="mb-4 lh-base" style="padding-left: 20px">
  <li>
    <a class="{% if page.menu_highlight == 'about' %}text-reset text-decoration-none fw-bold{% endif %}" href="{{ 'about' | relative_url }}">
      Über das Projekt & <br>Blogpost-Liste
    </a>
  </li>
  <li>
    <a class="{% if page.menu_highlight == 'contact' %}text-reset text-decoration-none fw-bold{% endif %}" href="{{ 'contact' | relative_url }}">
      Kontakt & <br>Datenschutz & <br>Impressum
    </a>
  </li>
  <li>
    <a href="https://github.com/SupaplexOSM/strassenraumkarte-neukoelln" target="_blank">
      Code auf GitHub
      <svg aria-hidden="true" focusable="false" style="width: 12px;height: 12px;object-fit: cover;vertical-align: baseline;" role="img" viewBox="0 0 512 512">
      <path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path>
      </svg>
    </a>
  </li>
</ul>
