<h2 class="text-xl font-semibold my-2">Parkraumkarte</h2>
<div class="mb-7 flex flex-col">
  <a data-link="parkingmap" href="{{ '/?map=parkingmap' | relative_url }}"
    class="py-2 px-4 border border-gray-200 rounded-t hover:bg-blue-50">
    Karte
  </a>

  <a href="{{ '/posts/2021-03-12-parkraumanalyse' | relative_url }}"
    class="py-2 px-4 border border-gray-200 border-t-0 {% if page.menu_highlight == 'blogpost_parkraumkarte' %}menu-active{% else %}hover:bg-blue-50{% endif %}">
    Blogpost
  </a>

  <a href="{{ '/posts/2021-06-08-vortrag-fossgis' | relative_url }}"
    class="py-2 px-4 border border-gray-200 border-t-0 {% if page.menu_highlight == 'vortrag_parkraumanalyse' %}menu-active{% else %}hover:bg-blue-50{% endif %}">
    Vortrag
  </a>

  <a href="{{ '/parkraumkarte/report' | relative_url }}"
    class="py-2 px-4 border border-gray-200 border-t-0 {% if page.menu_highlight == 'report' %}menu-active{% else %}hover:bg-blue-50{% endif %}">
    Methodenbericht
  </a>

  <a href="{{ '/parkraumkarte/data' | relative_url }}"
    class="py-2 px-4 border border-gray-200 border-t-0 rounded-b {% if page.menu_highlight == 'data' %}menu-active{% else %}hover:bg-blue-50{% endif %}">
    Daten
  </a>
</div>

<h2 class="text-xl font-semibold my-2">Straßenraumkarte</h2>
<div class="mb-7 flex flex-col">
  <a data-link="micromap" href="{{ '/?map=micromap' | relative_url }}"
    class="py-2 px-4 border border-gray-200 rounded-t hover:bg-blue-50">
    Karte
  </a>

  <a href="{{ '/posts/2021-07-18-strassenraumkarte' | relative_url }}"
    class="py-2 px-4 border border-gray-200 border-t-0 rounded-b {% if page.menu_highlight == 'blogpost_strassenraumkarte' %}menu-active{% else %}hover:bg-blue-50{% endif %}">
    Blogpost
  </a>
</div>

<ul class="lg:mb-4 lg:ml-4 leading-snug prose prose-sm lg:space-y-3 grid grid-cols-3 lg:block gap-3 lg:gap-0">
  <li>
    <a class="hover:text-gray-500 underline {% if page.menu_highlight == 'about' %}text-black no-underline text-bold{% endif %}"
      href="{{ 'about' | relative_url }}">
      Über das Projekt & <br>Blogpost-Liste
    </a>
  </li>
  <li>
    <a class="hover:text-gray-500 underline {% if page.menu_highlight == 'contact' %}text-black no-underline text-bold{% endif %}"
      href="{{ 'contact' | relative_url }}">
      Kontakt & <br>Datenschutz & <br>Impressum
    </a>
  </li>
  <li>
    <a class="hover:text-gray-500 underline" href="https://github.com/SupaplexOSM/strassenraumkarte-neukoelln"
      target="_blank">
      Code auf GitHub
      <svg aria-hidden="true" focusable="false" role="img" viewBox="0 0 512 512"
        class="inline-block w-3 h-3 object-cover align-baseline">
        <path fill="currentColor"
          d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z">
        </path>
      </svg>
    </a>
  </li>
</ul>
