<meta property="og:title"
  content="{{ page.social_sharing.title | default: site.social_sharing.title }}">
<meta property="og:description"
  content="{{ page.social_sharing.description | default: site.social_sharing.description }}">
<meta property="og:image"
  content="{{ page.social_sharing.image | default: site.social_sharing.image | relative_url }}">
<meta property="og:url"
  content="https://supaplexosm.github.io/strassenraumkarte-neukoelln/?map=parkingmap">
<meta name="twitter:title"
  content="{{ page.social_sharing.title | default: site.social_sharing.title }}">
<meta name="twitter:description"
  content="{{ page.social_sharing.description | default: site.social_sharing.description }}">
<meta name="twitter:image"
  content="{{ page.social_sharing.image | default: site.social_sharing.image | relative_url }}">
<meta name="twitter:image:alt"
  content="{{ page.social_sharing.image_alt | default: site.social_sharing.image_alt }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.twitter_username }}">
