{%- comment %}{% seo %}{% endcomment -%}
<meta property="og:locale" content="{{ site.locale }}" />
<meta property="og:title"
  content="{{ page.title | default: site.title }}">
<meta property="og:description"
  content="{{ page.description | default: site.description }}">
<meta property="og:image"
  content="{{ page.image.path | default: site.image.path | absolute_url }}">
<meta name="og:image:alt"
  content="{{ page.image.alt | default: site.image.alt }}">
<meta property="og:url"
  content="https://supaplexosm.github.io/strassenraumkarte-neukoelln/?map=parkingmap">
<meta property="og:type"
  content="{% if page.layout == 'post' or page.layout == 'page' %}article{% else %}website{% endif %}">
<meta name="twitter:title"
  content="{{ page.title | default: site.title }}">
<meta name="twitter:description"
  content="{{ page.description | default: site.description }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image"
  content="{{ page.image.path | default: site.image.path | absolute_url }}">
<meta name="twitter:image:alt"
  content="{{ page.image.alt | default: site.image.alt }}">
<meta name="twitter:site" content="{{ site.twitter.username }}">
