<nav class="w-full lg:w-60 px-3 py-3 lg:py-6 relative shadow-xl lg:shadow-none z-[1001] lg:z-auto">
  <h1 class="text-xl lg:text-2xl font-semibold leading-tight">Straßenraumkarte Neukölln</h1>
  <p class="text-gray-400 lg:mb-5 text-sm">OpenStreetMap Berlin</p>

  <a data-show-hide-trigger='navi'
    class="block lg:hidden print:hidden absolute top-5 right-5 border border-blue-500 rounded-sm bg-blue-200 text-blue-500">
    <!-- https://fontawesome.com/v5.15/icons/bars?style=solid -->
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-8 h-8" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
    </svg>
  </a>

  <div data-show-hide-target='navi' class="hidden lg:block transition-all duration-150">
    {% include menu/parkraumkarte.html %}
    {% include menu/strassenraumkarte.html %}
    {% include menu/general.html %}
  </div>
</nav>
