<h2 class="text-xl font-semibold my-2">Parkraumkarte</h2>
<div class="mb-7 flex flex-col">
  <a data-link="parkingmap" href="{{ '/?map=parkingmap' | relative_url }}"
    class="py-2 px-4 border border-gray-200 rounded-t hover:bg-blue-50">
    Karte
  </a>

  <a href="{{ '/posts/2021-03-12-parkraumanalyse' | relative_url }}"
    class="py-2 px-4 border border-gray-200 border-t-0 {% if page.menu_highlight == 'blogpost_parkraumkarte' %}menu-active{% else %}hover:bg-blue-50{% endif %}">
    Blogpost
  </a>

  <a href="{{ '/posts/2021-06-08-vortrag-fossgis' | relative_url }}"
    class="py-2 px-4 border border-gray-200 border-t-0 {% if page.menu_highlight == 'vortrag_parkraumanalyse' %}menu-active{% else %}hover:bg-blue-50{% endif %}">
    Vortrag
  </a>

  <a href="{{ '/parkraumkarte/report' | relative_url }}"
    class="py-2 px-4 border border-gray-200 border-t-0 {% if page.menu_highlight == 'report' %}menu-active{% else %}hover:bg-blue-50{% endif %}">
    Methodenbericht
  </a>

  <a href="{{ '/parkraumkarte/data' | relative_url }}"
    class="py-2 px-4 border border-gray-200 border-t-0 rounded-b {% if page.menu_highlight == 'data' %}menu-active{% else %}hover:bg-blue-50{% endif %}">
    Daten
  </a>
</div>
