<!Doctype html>
<html lang="de">
<head>
  <meta charset=utf-8 />
  <title>{{page.title}}</title>
  <link rel="shortcut icon" href="{{ '/images/favicon.png' | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Straßenraumkarte Neukölln – OpenStreetMap Community Berlin">
  <meta property="og:description" content="Spezialkarten für Neukölln zum Straßenraum und zur Parkplatzdichte.">
  <meta property="og:image"
    content="https://supaplexosm.github.io/strassenraumkarte-neukoelln/images/social-sharing.png">
  <meta property="og:url" content="https://supaplexosm.github.io/strassenraumkarte-neukoelln/?map=parkingmap">
  <meta name="twitter:title" content="Straßenraumkarte Neukölln – OpenStreetMap Community Berlin ">
  <meta name="twitter:description" content="Spezialkarten für Neukölln zum Straßenraum und zur Parkplatzdichte.">
  <meta name="twitter:image"
    content="https://supaplexosm.github.io/strassenraumkarte-neukoelln/images/social-sharing.png">
  <meta name="twitter:image:alt"
    content="Ausschnitt der Parkraumkarte Neukölln mit Visualisierung des Flächenverbrauchs.">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@osmberlin">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>

<body>
  {{ content }}
</body>
</html>
