<!DOCTYPE html>
<html lang="de" class="scroll-smooth">
<head>
  <meta charset=utf-8 />
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" href="{{ '/images/favicon.png' | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% feed_meta %}

  {% if page.noindex %}
  <meta name="robots" content="noindex">
  {% endif %}

  {% if page.canonical_url %}
  <link rel="canonical" href="{{ page.canonical_url }}" />
  {% endif %}

  {% include social_sharing.html %}

  <script>
    /*
      Toggle 'hidden' to Show/Hide content
      Trigger Element: `data-show-hide-trigger='navi'`
      Target Element: `data-show-hide-target='navi'`
    */
    document.addEventListener('DOMContentLoaded', function () {
      const triggers = document.querySelectorAll('[data-show-hide-trigger]');
      triggers.forEach(trigger => {
        const triggerTarget = trigger.dataset.showHideTrigger
        const target = document.querySelector(`[data-show-hide-target=${triggerTarget}]`);
        trigger.addEventListener('click', () => {
          target.classList.toggle('hidden');
          // In case we need this later:
          // If we change the map-container size, we also need to tell Leaflet to recalculate the avaliable space for tiles
          // map.invalidateSize()
          // e.preventDefault()
        })
      });
    });

    /*
      Fix .h-screen, see .computed-h-screen
      https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
    */
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);

    // We listen to the resize event
    window.addEventListener('resize', () => {
      let vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`);
    });
  </script>

  <link href="{{ '/css/tailwind.css' | relative_url }}" rel="stylesheet">
</head>

<body>
  <div class="flex flex-col lg:flex-row lg:gap-5 computed-h-screen">

    <nav class="w-full lg:w-60 px-3 py-3 lg:py-6 relative shadow-xl lg:shadow-none z-[1001] lg:z-auto">
      <h1 class="text-xl lg:text-2xl font-semibold leading-tight">Straßenraumkarte Neukölln</h1>
      <p class="text-gray-400 lg:mb-5 text-sm">OpenStreetMap Berlin</p>

      <a data-show-hide-trigger='navi'
        class="block lg:hidden print:hidden absolute top-5 right-5 border border-blue-500 rounded-sm bg-blue-200 text-blue-500">
        <!-- https://fontawesome.com/v5.15/icons/bars?style=solid -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-8 h-8" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </a>

      <div data-show-hide-target='navi' class="hidden lg:block transition-all duration-150">
        {% include navigation.html %}
      </div>
    </nav>

    <section class="flex-1">
      {{ content }}
    </section>

  </div>

</body>

</html>
