---
layout: default
redirect_from: parkraumkarte/legend.html
---

<!-- Stylesheet for Leafvar icons, fonts etc -->
<link rel="stylesheet" href="{{ '/css/leaflet.css' | relative_url }}" />

<!--jquery - enables loading a GeoJson from a file directly into Leafvar -->
<script src="{{ '/javascript/leaflet.js' | relative_url }}"></script>
<script src="{{ '/javascript/leaflet-hash.js' | relative_url }}"></script>

<div class="flex gap-5 h-full">
  <div id="map" class="w-100 h-full flex-1">
    <!-- Edit button on Map -->
    <div class="legend-button absolute top-32 right-2 z-1000">
      <div class="leaflet-touch">
        <div class="leaflet-control-layers py-0 px-1 flex">
          <a data-update-edit-osm href="https://www.openstreetmap.org/edit#map=14/52.4795/13.4445" class="text-xs"
            target="_blank" rel="noopener noreferrer">
            Bearbeiten
          </a>
        </div>
      </div>
    </div>
    <!-- Open Mapillary button on Map -->
    <div class="legend-button absolute top-32 right-20 mr-1 z-1000">
      <div class="leaflet-touch">
        <div class="leaflet-control-layers py-0 px-1 flex">
          <a data-update-mapillary-link href="https://www.mapillary.com/app/" class="text-xs" target="_blank"
            rel="noopener noreferrer">
            Mapillary
          </a>
        </div>
      </div>
    </div>
    <!-- Legend button on Map -->
    <div class="legend-button absolute top-[12.75em] right-2 z-1000">
      <div class="leaflet-touch">
        <div class="leaflet-control-layers py-0 px-1 flex">
          <a href="#legende" data-show-hide-trigger='legend' class="md:hidden text-sm">
            Legende
          </a>
        </div>
      </div>
    </div>
  </div>

  <div
    class="absolute md:static bottom-0 inset-x-0 h-72 md:h-auto z-1000 bg-white overflow-scroll md:overscroll-auto px-5 md:px-0 shadow-2xl md:shadow-none md:w-60 vh-100 prose-sm prose-blue hidden md:block "
    data-show-hide-target='legend'>
    {% include legend.html %}
  </div>
</div>

{{ content }}
