---
layout: default
---

<script
  async
  src="{{ '/javascript/linkify-headlines.js' | relative_url }}"
></script>

{% include toc.html %}

<!-- Width: https://tailwindcss.com/docs/max-width#prose -->
<article
  class="
    prose prose-blue
    prose-code:before:content-none
    prose-code:after:content-none
    prose-code:bg-neutral-100
    prose-code:text-neutral-800
    prose-code:rounded
    prose-code:py-1
    prose-code:px-1.5
    prose-code:box-decoration-clone
    [--tw-prose-bullets:_gray]
    max-w-prose
    py-6
    px-4
    lg:px-0
  "
  lang="{{ page.language | default:'de' }}"
>
  {{ content }}
</article>
